body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: rgb(167, 164, 164);
}

body {
    margin-bottom:100px ;
    background-image: url('../imagens/background-site.png');
}

h1 {
    text-align: center;
    margin-top: white;
}

#imgLogo{
    height: 80px;
    opacity: .8;
}

img {
    max-width: 100%;
    display: block;  
    cursor: pointer; 
}

.header {
    background-image: url('../imagens/background-site.png');
    display: flex;    
    flex-wrap: wrap; /*quando a tela fica muito pequena, os itens são jogados para baixo*/
    max-width: 1200px;
    justify-content: space-between; /* Espaço entre os itens */   
    align-items: center; /*alinha os itens no centro (verticalmente)*/
    padding: 20px;
    margin: 0 auto;
}

.menu {
    display: flex; /* coloca os itens na orizontal */
}

.menu li {
    margin-left: 1.5rem;
}

.menu li a {
    display: block;
    padding: 0.5rem;
}

.menu li a:hover {
    color: white;
}
/* CSS FLEXBOX */

.flex {
    display:  flex;
    flex-wrap: wrap;
    max-width: 1258px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}
/* -------------------------------------------------- */

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    width: 1200px;
    height: 535px;
    display: none;
  }
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  .img_modal {
    width: 100%;
  }
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .phone {
    display: grid;
    justify-items: end;
  }
  
  .phone h3 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    display: inline;
    color: white;
  }
  
  .infoEmpresa {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 20px;
    background: #e1dddd;
    flex-wrap: wrap; /*quando a tela fica muito pequena, os itens são jogados para baixo*/
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto; 
  }
  
  .infoEmpresa h4 {
    padding: 0px;
    margin: 0px 0px 5px 0px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  .mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: black;
    margin: 8px;
    transition: 1s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
  
    .menu {
      position: absolute;
      top: 13vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
  
    .menu li {
      margin-left: 0;
      opacity: 0;
    }
  
    .mobile-menu {
      display: block;
    }
  
    .menu.active {
      transform: translateX(0);
      
    }
  
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      } to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
  
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
  
    .mobile-menu.active .line2 {
      opacity: 0;
    }
  
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  
  
    .infoEmpresa {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    .infoEmpresa > div:nth-child(1) { 
        display: none;
    }
  
    .phone{
      display: none;
    }
  
  }